In [14]:
import pandas as pd

In [15]:
# df = pd.read_csv(r"D:\python_projects\US-Accidents\US_Accidents_March23.csv")

- Due to the substantial size of the data, which amounts to 3GB, an expedient upload is unfeasible. Consequently, we will adopt an alternative strategy by performing column selection twice, isolating only the indispensable data fields. Subsequently, these selected subsets will be combined using the 'concat()' function. This approach aims to optimize the data handling process and mitigate upload challenges stemming from its significant volume

In [16]:
# choosing first column selection
columns_to_upload = ['Severity', 'Start_Time', 'End_Time', 'Street','City','State','Weather_Timestamp', 'Temperature(F)']

In [17]:
# upload selected columns into DataFrame named df
df = pd.read_csv(r"D:\python_projects\US-Accidents\US_Accidents_March23.csv", usecols=columns_to_upload)

- The following code snippet demonstrates the computation of null-value counts within the DataFrame `df`, presented in descending order:

In [18]:
df.isnull().sum().sort_values(ascending=False)

Temperature(F)       163853
Weather_Timestamp    120228
Street                10869
City                    253
Severity                  0
Start_Time                0
End_Time                  0
State                     0
dtype: int64

Temperature(F)       163853
Weather_Timestamp    120228
Street                10869
City                    253
Severity                  0
Start_Time                0
End_Time                  0
State                     0
dtype: int64

- A DataFrame named `df_exploration` is being generated to incorporate the percentage of missing values for each data field for first column selection. This nomenclature is designated to facilitate future integration with the subsequent column selection process

In [19]:
df_exploration = (df.isnull().sum())/(len(df))*100

In [20]:
# choosing second column selection and uploding selected columns into DataFrame named df1
columns1_to_upload = ['Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)','Precipitation(in)','Weather_Condition','Sunrise_Sunset']
df1 = pd.read_csv(r"D:\python_projects\US-Accidents\US_Accidents_March23.csv", usecols=columns1_to_upload)

- The following code snippet demonstrates the computation of null-value counts within the DataFrame `df1`, presented in descending order:

In [21]:
df1.isnull().sum().sort_values(ascending=False)

Precipitation(in)    2203586
Wind_Speed(mph)       571233
Visibility(mi)        177098
Humidity(%)           174144
Weather_Condition     173459
Pressure(in)          140679
Sunrise_Sunset         23246
dtype: int64

Precipitation(in)    2203586
Wind_Speed(mph)       571233
Visibility(mi)        177098
Humidity(%)           174144
Weather_Condition     173459
Pressure(in)          140679
Sunrise_Sunset         23246
dtype: int64

- A DataFrame named `df_exploration1` is being generated to incorporate the percentage of missing values for each data field for second column selection. This nomenclature is designated to facilitate future integration with the subsequent column selection process

In [22]:
df_exploration1 = (df1.isnull().sum())/(len(df1))*100

- Concat two DataFrame with missing values to see percentages of all values and named it `result_missing_values_df`

In [23]:
result_missing_values_df = pd.concat([df_exploration, df_exploration1], axis=0)

In [24]:
# Sort in descending order
result_missing_values_df.sort_values(ascending = False)

Precipitation(in)    28.512858
Wind_Speed(mph)       7.391355
Visibility(mi)        2.291524
Humidity(%)           2.253301
Weather_Condition     2.244438
Temperature(F)        2.120143
Pressure(in)          1.820288
Weather_Timestamp     1.555666
Sunrise_Sunset        0.300787
Street                0.140637
City                  0.003274
Severity              0.000000
Start_Time            0.000000
End_Time              0.000000
State                 0.000000
dtype: float64

Precipitation(in)    28.512858
Wind_Speed(mph)       7.391355
Visibility(mi)        2.291524
Humidity(%)           2.253301
Weather_Condition     2.244438
Temperature(F)        2.120143
Pressure(in)          1.820288
Weather_Timestamp     1.555666
Sunrise_Sunset        0.300787
Street                0.140637
City                  0.003274
Severity              0.000000
Start_Time            0.000000
End_Time              0.000000
State                 0.000000
dtype: float64

- Combine 2 DataFrames: `df` and `df1` to create a resulting dataset that we will work with

In [25]:
resulting_df = pd.concat([df, df1], axis=1)

In [26]:
resulting_df

,Severity,Start_Time,End_Time,Street,City,State,Weather_Timestamp,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,I-70 E,Dayton,OH,2016-02-08 05:58:00,36.9,91.0,29.68,10.0,NaN,0.02,Light Rain,Night
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,Brice Rd,Reynoldsburg,OH,2016-02-08 05:51:00,37.9,100.0,29.65,10.0,NaN,0.00,Light Rain,Night
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,State Route 32,Williamsburg,OH,2016-02-08 06:56:00,36.0,100.0,29.67,10.0,3.5,NaN,Overcast,Night
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,I-75 S,Dayton,OH,2016-02-08 07:38:00,35.1,96.0,29.64,9.0,4.6,NaN,Mostly Cloudy,Night
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,Miamisburg Centerville Rd,Dayton,OH,2016-02-08 07:53:00,36.0,89.0,29.65,6.0,3.5,NaN,Mostly Cloudy,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,2,2019-08-23 18:03:25,2019-08-23 18:32:01,Pomona Fwy E,Riverside,CA,2019-08-23 17:53:00,86.0,40.0,28.92,10.0,13.0,0.00,Fair,Day
7728390,2,2019-08-23 19:11:30,2019-08-23 19:38:23,I-8 W,San Diego,CA,2019-08-23 18:53:00,70.0,73.0,29.39,10.0,6.0,0.00,Fair,Day
7728391,2,2019-08-23 19:00:21,2019-08-23 19:28:49,Garden Grove Fwy,Orange,CA,2019-08-23 18:53:00,73.0,64.0,29.74,10.0,10.0,0.00,Partly Cloudy,Day
7728392,2,2019-08-23 19:00:21,2019-08-23 19:29:42,San Diego Fwy S,Culver City,CA,2019-08-23 18:51:00,71.0,81.0,29.62,10.0,8.0,0.00,Fair,Day
7728393,2,2019-08-23 18:52:06,2019-08-23 19:21:31,CA-210 W,Highland,CA,2019-08-23 20:50:00,79.0,47.0,28.63,7.0,7.0,0.00,Fair,Day

,Severity,Start_Time,End_Time,Street,City,State,Weather_Timestamp,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,I-70 E,Dayton,OH,2016-02-08 05:58:00,36.9,91.0,29.68,10.0,NaN,0.02,Light Rain,Night
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,Brice Rd,Reynoldsburg,OH,2016-02-08 05:51:00,37.9,100.0,29.65,10.0,NaN,0.00,Light Rain,Night
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,State Route 32,Williamsburg,OH,2016-02-08 06:56:00,36.0,100.0,29.67,10.0,3.5,NaN,Overcast,Night
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,I-75 S,Dayton,OH,2016-02-08 07:38:00,35.1,96.0,29.64,9.0,4.6,NaN,Mostly Cloudy,Night
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,Miamisburg Centerville Rd,Dayton,OH,2016-02-08 07:53:00,36.0,89.0,29.65,6.0,3.5,NaN,Mostly Cloudy,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,2,2019-08-23 18:03:25,2019-08-23 18:32:01,Pomona Fwy E,Riverside,CA,2019-08-23 17:53:00,86.0,40.0,28.92,10.0,13.0,0.00,Fair,Day
7728390,2,2019-08-23 19:11:30,2019-08-23 19:38:23,I-8 W,San Diego,CA,2019-08-23 18:53:00,70.0,73.0,29.39,10.0,6.0,0.00,Fair,Day
7728391,2,2019-08-23 19:00:21,2019-08-23 19:28:49,Garden Grove Fwy,Orange,CA,2019-08-23 18:53:00,73.0,64.0,29.74,10.0,10.0,0.00,Partly Cloudy,Day
7728392,2,2019-08-23 19:00:21,2019-08-23 19:29:42,San Diego Fwy S,Culver City,CA,2019-08-23 18:51:00,71.0,81.0,29.62,10.0,8.0,0.00,Fair,Day
7728393,2,2019-08-23 18:52:06,2019-08-23 19:21:31,CA-210 W,Highland,CA,2019-08-23 20:50:00,79.0,47.0,28.63,7.0,7.0,0.00,Fair,Day

In [28]:
state_counts = resulting_df['State'].value_counts()

In [29]:
state_count_df = pd.DataFrame({'State': state_counts.index, 'Count': state_counts.values})

In [31]:
state_count_df = state_count_df.sort_values(by='Count', ascending=False)

In [41]:
top_10_states = state_count_df.head(10)['State']

In [42]:
top_10_states

  State    Count
0    CA  1741433
1    FL   880192
2    TX   582837
3    SC   382557
4    NY   347960
5    NC   338199
6    VA   303301
7    PA   296620
8    MN   192084
9    OR   179660

  State    Count
0    CA  1741433
1    FL   880192
2    TX   582837
3    SC   382557
4    NY   347960
5    NC   338199
6    VA   303301
7    PA   296620
8    MN   192084
9    OR   179660

In [39]:
filtered_df = resulting_df[resulting_df['State'].isin(top_10_states)]

In [40]:
filtered_df

,Severity,Start_Time,End_Time,Street,City,State,Weather_Timestamp,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
728,3,2016-06-21 10:34:40,2016-06-21 11:04:40,Magazine St,Vallejo,CA,2016-06-21 10:54:00,75.0,48.0,30.00,10.0,5.8,NaN,Clear,Day
729,3,2016-06-21 10:30:16,2016-06-21 11:16:39,I-880 N,Hayward,CA,2016-06-21 10:54:00,75.0,48.0,30.06,10.0,4.6,NaN,Clear,Day
730,2,2016-06-21 10:49:14,2016-06-21 11:19:14,I-680 N,Walnut Creek,CA,2016-06-21 10:53:00,82.9,31.0,29.97,10.0,4.6,NaN,Clear,Day
731,3,2016-06-21 10:41:42,2016-06-21 11:11:42,N De Anza Blvd,Cupertino,CA,2016-06-21 10:56:00,75.9,48.0,30.04,10.0,4.6,NaN,Clear,Day
732,2,2016-06-21 10:16:26,2016-06-21 11:04:16,Norman Y Mineta Hwy,San Jose,CA,2016-06-21 09:50:00,75.2,41.0,30.06,10.0,5.8,NaN,Clear,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,2,2019-08-23 18:03:25,2019-08-23 18:32:01,Pomona Fwy E,Riverside,CA,2019-08-23 17:53:00,86.0,40.0,28.92,10.0,13.0,0.0,Fair,Day
7728390,2,2019-08-23 19:11:30,2019-08-23 19:38:23,I-8 W,San Diego,CA,2019-08-23 18:53:00,70.0,73.0,29.39,10.0,6.0,0.0,Fair,Day
7728391,2,2019-08-23 19:00:21,2019-08-23 19:28:49,Garden Grove Fwy,Orange,CA,2019-08-23 18:53:00,73.0,64.0,29.74,10.0,10.0,0.0,Partly Cloudy,Day
7728392,2,2019-08-23 19:00:21,2019-08-23 19:29:42,San Diego Fwy S,Culver City,CA,2019-08-23 18:51:00,71.0,81.0,29.62,10.0,8.0,0.0,Fair,Day
7728393,2,2019-08-23 18:52:06,2019-08-23 19:21:31,CA-210 W,Highland,CA,2019-08-23 20:50:00,79.0,47.0,28.63,7.0,7.0,0.0,Fair,Day

,Severity,Start_Time,End_Time,Street,City,State,Weather_Timestamp,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
728,3,2016-06-21 10:34:40,2016-06-21 11:04:40,Magazine St,Vallejo,CA,2016-06-21 10:54:00,75.0,48.0,30.00,10.0,5.8,NaN,Clear,Day
729,3,2016-06-21 10:30:16,2016-06-21 11:16:39,I-880 N,Hayward,CA,2016-06-21 10:54:00,75.0,48.0,30.06,10.0,4.6,NaN,Clear,Day
730,2,2016-06-21 10:49:14,2016-06-21 11:19:14,I-680 N,Walnut Creek,CA,2016-06-21 10:53:00,82.9,31.0,29.97,10.0,4.6,NaN,Clear,Day
731,3,2016-06-21 10:41:42,2016-06-21 11:11:42,N De Anza Blvd,Cupertino,CA,2016-06-21 10:56:00,75.9,48.0,30.04,10.0,4.6,NaN,Clear,Day
732,2,2016-06-21 10:16:26,2016-06-21 11:04:16,Norman Y Mineta Hwy,San Jose,CA,2016-06-21 09:50:00,75.2,41.0,30.06,10.0,5.8,NaN,Clear,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,2,2019-08-23 18:03:25,2019-08-23 18:32:01,Pomona Fwy E,Riverside,CA,2019-08-23 17:53:00,86.0,40.0,28.92,10.0,13.0,0.0,Fair,Day
7728390,2,2019-08-23 19:11:30,2019-08-23 19:38:23,I-8 W,San Diego,CA,2019-08-23 18:53:00,70.0,73.0,29.39,10.0,6.0,0.0,Fair,Day
7728391,2,2019-08-23 19:00:21,2019-08-23 19:28:49,Garden Grove Fwy,Orange,CA,2019-08-23 18:53:00,73.0,64.0,29.74,10.0,10.0,0.0,Partly Cloudy,Day
7728392,2,2019-08-23 19:00:21,2019-08-23 19:29:42,San Diego Fwy S,Culver City,CA,2019-08-23 18:51:00,71.0,81.0,29.62,10.0,8.0,0.0,Fair,Day
7728393,2,2019-08-23 18:52:06,2019-08-23 19:21:31,CA-210 W,Highland,CA,2019-08-23 20:50:00,79.0,47.0,28.63,7.0,7.0,0.0,Fair,Day